* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.c {
  width: 100% !important;
  background-color: #1D2228 !important;
  /* position: fixed; */
  /* float: left; */
}

.c1 {
  width: 90%;
  margin: 0 auto;
  background-color: #1D2228;
}

/* =============== Title =============== */

#title {
  color: coral !important;
}

/* =============== Navbar =============== */

.logo {
  color: white !important;
  font-size: 40px !important;
  font-weight: bolder;
}

.logo1 {
  color: #DE5935;
  font-weight: 600;
}

.liname {
  color: white !important;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 400;
}

.liname:hover {
  color: whitesmoke !important;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 400;
}

.liname1 {
  color: black !important;
  text-decoration: none;
  font-weight: 600;
}

/* =============== SearchBar =============== */

.sec {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #7DA2A9;
  /* position: sticky; */

}

.sec1 {
  width: 90%;
  margin: 0 auto !important;
}

.searchbar {
  width: 100% !important;
  border: 2px black solid !important;
}

.searchbtn1 {
  width: 20%;
}

.btn1 {
  margin-left: 10px;
  float: right;
}

/* =============== MainSlider =============== */

.mainslide {
  width: 100%;
  margin-top: 15px;
}

.mainslide1 {
  width: 90%;
  margin: 0 auto !important;
}

.carousel1 {
  margin-top: 10px;
  border: 3px solid #dbdbdb !important;
  height: 505px;
  border-radius: 7px;
}

.sliderimg {
  height: 500px;
  border-radius: 5px;
}

.banner {
  margin-top: 30px !important;
  height: 600px;
  background-color: #2d4146 !important;
  padding: 20px 10px 620px 10px !important;

}

.bannerimg {
  height: 600px;
}

.wristimg {
  height: 400px;
  margin-top: 60px;
  border-radius: 5px;
}

.boxlist {
  padding: 10px 3px 10px 3px;
  background-color: #eff3f4;
  margin-top: 30px !important;
}

/* =============== ProductList Box =============== */

.productlist {
  width: 100%;
  margin-top: 15px;
}

.productlist1 {
  width: 90%;
  background-color: #eff3f4;
  margin: 0 auto !important;
}

.productlist2 {
  margin-top: 10px;
}

.productlistimg {
  height: 350px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #c3c3c3 2px solid !important;
}

.imghover {
  position: relative;
}

.imghover1 {
  position: absolute;
  top: 0;
  background-color: rgba(49, 49, 49, 0.747);
  height: 100%;
  border-radius: 5px;
  width: 100%;
  display: none;
}

.imghover2 {
  position: absolute;
  top: 300px;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  display: none;
}

.imghover:hover .imghover1 {
  display: block;
}

.imghover:hover .imghover2 {
  display: block;
}

.listh1 {
  text-align: center;
  line-height: 350px;
  color: white;
}

.prolistbox {
  padding: 10px 30px 10px 30px !important;
}

/* =============== Cart Section =============== */

.cart {
  width: 100%;
}

.cart1 {
  width: 90%;
  margin: 0 auto !important;
}

.cartrow1 {
  display: flex;
  justify-content: space-around;
  background-color: #eff3f4;
}

.cartproimg {
  width: 70%;
  height: 250px;
  /* border: 5px solid #03001C !important; */
}

.emptycart {
  color: #191825;
  text-align: center;
  margin-top: 150px;
}

.cartdetails {
  margin-top: 20px !important;
  background-color: #FF6E31;
  color: #191825;
  border-radius: 7px;

}

.totalbox {
  height: 400px;
  margin-top: 20px !important;
  color: #191825;
  background-color: #FF6E31;
  border-radius: 7px;
}

.cartlistrow {
  border: 3px solid #191825 !important;
  padding: 3px 3px 3px 3px !important;
  margin-top: 10px !important;
}

.cartlistrow1 {
  border: 3px solid #191825 !important;
  padding: 50px 0px 50px 0px !important;
  margin-top: 10px !important;
  margin-bottom: 30px;
}

.cartcardtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qtybox {
  margin-left: 10px;
  margin-right: 10px;
}

.cartqtybtn {
  background-color: #1D2228 !important;
  border: transparent !important;
}

.cartqtybtn:hover {
  background-color: #333435 !important;
  border: transparent !important;
}

.clearcart {
  margin-top: 10px !important;
  height: 50px;
  width: 70%;
}

.clearbtn {
  margin-left: 60px !important;
  border-radius: 10px;
  border: transparent;
  color: white !important;
  background-color: #1D2228;
  margin-top: 23px !important;
}

.clearbtn:hover {
  color: black !important;
  background-color: whitesmoke;
  border: transparent;
  padding-top: 5px;
}

.cartsummary1 {
  float: left !important;
  text-align: left;
}

.cartsummary3 {
  float: left !important;
  text-align: left;
}

.cartsummary2 {
  text-align: right !important;
}

.cartsummary4 {
  text-align: right !important;
  margin-top: 6px;
}

.color1 {
  color: white;
}

.color2 {
  color: rgb(60, 62, 60);
}

/* =============== Product Section =============== */

.productsec {
  width: 100%;
}

.productsec1 {
  width: 90%;
  margin: 0 auto !important;
}

.mainrow {
  /* width: 70% !important; */
  float: left;
  margin-top: 20px !important;
  padding: 5px 5px 5px 5px;
}

.displaybox {
  width: 20% !important;
  float: right;
}

.proimg {
  width: 70% !important;
  height: 250px;
}

.cardcol {
  background-color: #eff3f4;
  height: 522px !important;
  margin-top: 10px;
}

.cardcol:hover {
  border: #46425e 3px solid !important;
}

.cardtext {
  padding-top: 8px;
  color: #1D2228;
}

.cardbtn {
  background-color: #FF5F00 !important;
  border: transparent !important;
}

.cardbtn:hover {
  background-color: #191825 !important;
  border: transparent !important;
}

.cardbtn1 {
  background-color: #FF5F00 !important;
  border: transparent !important;
  margin-left: 5px;
}

.cardbtn1:hover {
  background-color: #191825 !important;
  border: transparent !important;
}

/* =============== Wish List =============== */

.wishlist {
  width: 100%;
}

.wishlist1 {
  width: 90%;
  margin: 0 auto !important;
}

.wishbtn {
  background-color: #FF5F00 !important;
  border: transparent !important;
}

.wishbtn:hover {
  background-color: #39365e !important;
  border: transparent !important;
}

.wishqtybtn {
  background-color: #1e1d2a !important;
  border: transparent !important;
}

.wishqtybtn:hover {
  background-color: #39365e !important;
  border: transparent !important;
}

.wishdetails {
  margin-top: 20px !important;
  background-color: #FF5F00;
  color: #191825;
  border-radius: 7px;
}

.wishproimg {
  width: 70%;
  height: 250px;
}

.wishcardtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlistrow {
  border: 3px solid rgb(0, 0, 0) !important;
  padding: 4px 3px 4px 3px !important;
  margin-top: 10px !important;
}

.wishlistrow1 {
  border: 3px solid rgb(0, 0, 0) !important;
  padding: 50px 0px 50px 0px !important;
  margin-top: 10px !important;
}

.noitems {
  color: #000000;
}

.clearwishbtn1{
  border-radius: 10px;
  border: transparent;
  color: white !important;
  background-color: #1D2228;
  margin-top: 13px !important;
}

.clearwishbtn1:hover {
  color: whitesmoke !important;
  background-color: #FF5F00;
  border: transparent;
  padding-top: 5px;
}

.clwish01 {
  display: flex;
  justify-content: center;
  margin-top: 10px !important;
}
.i{
  margin-top: 5px;
}
/* =============== Footer Bar =============== */

.contactus {
  width: 100%;
}

.contactus1 {
  width: 90%;
  margin: 0 auto !important;
}

.contact1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactform {
  background-color: #eff3f4;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border: 5px solid #191825;
  width: 50%;
}

/* =============== Footer Bar =============== */

.footer {
  width: 100%;
  margin-top: 20px !important;
  float: left;
}

.footer1 {
  width: 90%;
  margin: 0 auto !important;
}

.footerrow {
  padding: 30px 0px 30px 0px !important;
  background-color: #eff3f4;
}

.footerrow h3 {
  text-align: center;
}

.footerli {
  list-style-type: none !important;
  margin-left: 60px !important;
}

.footericon1 {
  position: relative;
  float: left;
  border: 2px solid #191825;
  margin-left: 90px !important;
}

.footericon2 {
  position: relative;
  float: left;
  margin-left: 3px;
  border: 2px solid #191825;
}

.arrow {
  display: none;
}

.footericon1:hover .arrow {
  display: inline-block;

}

.footericon2:hover .arrow {
  display: inline-block;
}

.footerinfo2 {
  position: relative;
  font-weight: 500;
}

.footerinfo2:hover {
  font-weight: 500;
  color: #FF6E31;
}

.footerinfo3 {
  display: none;
}

.footerinfo2:hover .footerinfo3 {
  display: inline-block;
}

.footerspan5 {
  color: #d35e3d;
}

.footerspan:hover {
  color: #00ddff;
}

.footerspan2:hover {
  color: #000dff;
}

.footerspan3:hover {
  color: #da106b;
}

.footerspan4:hover {
  color: #ff0800;
}

.footerinfo {
  list-style-type: none;
  margin-left: 60px !important;
}

/* =============== Loading Animation =============== */

.spinner1 {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px !important;
}

.loadingtext {
  float: left;
  font-weight: bold;
  color: #46301a;
  font-size: 10px;
  margin-right: 10px;
}

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-left: 30px !important;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4a4949;
}

.pulse-bubble-1 {
  animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
  animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
  animation: pulse .4s ease .4s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(.60);
  }

  to {
    opacity: .50;
    transform: scale(.80);
  }
}

.bubble01{
  background-color: #000dff;
}
.bubble02{
  background-color: #ff0000;
}
.bubble03{
  background-color: #ff8800;
}

/* ___________________________________________________________________________________________________________ */

/* --------------- Media Query --------------- */

@media screen and (max-width: 376px) {

  /* --------------- Main Slider --------------- */

  .carousel1 {
    height: 320px;
  }

  .sliderimg {
    height: 320px;
  }

  .banner {
    margin-top: 30px !important;
    height: 350px !important;
    background-color: #2d4146 !important;
    padding: 20px 5px 370px 5px !important;
  }

  .bannerimg {
    height: 350px !important;
  }

  /* --------------- Wishlist Section --------------- */

  .wishqtybtn {
    margin-top: 5px !important;
  }
  .wishcardtext0{
    padding-bottom: 5px !important;
  }

  /* --------------- Product Section --------------- */

  .mainbox {
    width: 100% !important;
  }

  .cardcol {
    width: 100% !important;
  }

  /* --------------- Footer Section --------------- */


  .footerli {
    margin-left: 0px !important;
  }

  .footercol2 {
    margin-top: 20px !important;
  }

  .footericon1,
  .footerinfo {
    margin-left: 0px !important;
  }



  /* --------------- Loading Section --------------- */
  .pulse-container {
    margin-top: 10px !important;
  }

  .loadingtext {
    margin-right: 2px !important;
  }

  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(.20);
    }

    to {
      opacity: .15;
      transform: scale(.70);
    }
  }
}

@media screen and (max-width: 412px) {

  /* --------------- Footer --------------- */
  .footerli {
    margin-left: 0px !important;
  }

  .footercol2 {
    margin-top: 20px !important;
  }

  .footericon1,
  .footerinfo {
    margin-left: 0px !important;
  }
}

/* --------------- Wishlist --------------- */

.wishqtybtn {
  margin-top: 5px !important;
}

.wishcardtext0{
  padding-bottom: 5px !important;
}

/* --------------- Media Query --------------- */